/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.padding-16{
    padding: 16px;
}
.bar{
    width: 100%;
    overflow: hidden;
}
.card, .card-2 {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.menu {
    float: left;
    width: 20%;
    text-decoration: none;
}

.p-6 {
    padding: 1.5rem;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex {
    display: flex;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}
#headersection{
    text-align: center;
}
#navsection{
    text-align: center;
}
#headersection{
    text-align: center;
}
#headersection{
    text-align: center;
}